.smooth-scroll-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.smooth-scroll-container .wrapp{
    height: 100vh;
    width: fit-content;
    position: relative;
    display: flex;
}

@media screen and (max-width: 900px) {
   .smooth-scroll-container .wrapp{
    width: 100%;
    height: fit-content;
    display: block;
}
}